@font-face {
    font-family: 'dahab';
    src: local('dahab-black'), url('assets/fonts/Dahab-sub-ngawia/Dahab-sub-ngawia/DahabArabic-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dahab'; 
    src: local('dahab-regular'), url('assets/fonts/Dahab-sub-ngawia/Dahab-sub-ngawia/DahabArabic-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dahab'; 
    src: local('dahab-bold'), url('assets/fonts/Dahab-sub-ngawia/Dahab-sub-ngawia/DahabArabic-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}




@font-face {
    font-family: 'omnia'; 
    src: local('dahab-black'), url('assets/fonts/Omniaarabic-sub-vtvmlp/Omniaarabic-sub-vtvmlp/Omniaarabic-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omnia'; 
    src: local('dahab-regular'), url('assets/fonts/Omniaarabic-sub-vtvmlp/Omniaarabic-sub-vtvmlp/Omniaarabic-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omnia'; 
    src: local('dahab-bold'), url('assets/fonts/Omniaarabic-sub-vtvmlp/Omniaarabic-sub-vtvmlp/Omniaarabic-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    direction:rtl;
    font-family:"Droid Arabic Kufi", "Droid Sans", sans-serif;
    font-size:14px;
}

a{
    text-decoration: none;
}


/** Start Home Page **/
header{
    background-color: black;
}

.navbar-toggler{
    background: white;
}

.h-n-a::after{
    width: 100% !important;
}

@media (max-width: 768px){
    .landing-nav{
        flex-wrap: wrap;
    }
}



.landing-nav .navbar-nav .nav-item{
    margin: 0 10px;
}

.landing-nav ul a{
    position: relative;
    padding: 20px 30px;
    color: white;
    font-weight: 400;
    font-size: 22px;
    width: fit-content;
    font-family: 'dahab';
}


.landing-nav ul a::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    background-color: white;
    transition: .5s;
}

.landing-nav ul a:hover,
.landing-nav ul a:focus{
    color: white;
}

.landing-nav ul a:hover::after{
    width: 100%;
}

.landing-nav .navbar-brand{
    flex: 1;
}

.landing-nav .navbar-brand img{
    width: 100px;
    height: 100px;
}


/* start slide show */
#latestarticles img{
    width: 100%;
    height: 580px;
}


#latestarticles .carousel-item{
    position: relative;
}

#latestarticles .carousel-item .carousel-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #D78079B2;
}

#latestarticles .carousel-item .post{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #FCDAD8;
    padding: 40px 10px;
    text-align: center;
}


#latestarticles .carousel-item .post .category{
    margin: 20px;
}

#latestarticles .carousel-item .post img{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

#latestarticles .carousel-item .post span{
    color: #FCDAD8;
    font-size: 24px;
    font-family: 'omnia';
}

#latestarticles .carousel-item .post h1{
    color: #FCDAD8;
    font-weight: 700;
    font-family: 'omnia';
}


.about{
    width: 99%;
    position: relative;
    background: #2C3739;
    padding: 50px 0;
    font-weight: 900;
    font-size: 25px;
    box-shadow: 17px -12px 0px 5px #FCDAD8;
    float: left;
    text-align: center;
}

@media (max-width: 768px){
    .about{
        box-shadow: 17px -5px 0px 0 #FCDAD8;
    }
}

.about p{
    position: relative;
    color: #FCDAD8;
    font-family: 'dahab';
}


.projects{
    background-image: url('assets/pattern_1.png');
    margin-top: 180px;
    background-size: cover;
}

.projects-container{
    max-width: 3840px;
    margin: auto;
}

.projects svg{
    margin-bottom: 50px;
    margin-top: 10px;
}

.projects h1 {
    position: relative;
    display: inline-block;
    font-family: 'omnia';
    color: #FCDAD8;
    font-size: 50px;
}

.projects h1::before {
    content: '';
    position: absolute;
    top: 120%;
    right: -33%;
    height: 1668px;
    width: 2px;
    background-color: #FCDAD8;
    transform: translateX(-50%);
}

@media (max-width: 992px){
    .projects h1::before {
        height: 2000px;
    }
}

@media (max-width: 768px){
    .projects h1::before {
        height: 2500px;
    }
}

@media (max-width: 576px){
    .projects h1::before {
        height: 3000px;
    }
}

.projects h1::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 800px;
    background-color: #FCDAD8;
    transform: translateX(-103%);
}

@media (max-width: 300px) { 
    .projects h1::after {
        width: 100%;
    }
}

@media (max-width: 576px) { 
    .projects h1::after {
        width: 50vw;
    }
}

@media (min-width: 577px) { 
    .projects h1::after {
        width: 350px;
    }
}


@media (min-width: 768px) {
    .projects h1::after {
        width: 500px;
    }
}

@media (min-width: 992px) { 
    .projects h1::after {
        width: 700px;
    }
}

@media (min-width: 1000px) { 
    .projects h1::after {
        width: 750px;
    }
}

@media (min-width: 1200px) { 
    .projects h1::after {
        width: 900px;
    }
}

.projects-projects::after{
    content: "";
    clear: both;
    display: table;
}

.project-section{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 90%;
    float: left;
    margin: 20px 0;
}

.project-section::after{
    content: "";
    clear: both;
    display: table;
}

.project-section img{
    width: 50%;
    height: 370px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
}
.project-section .description h2{
    color: #FCDAD8;
    font-weight: 700;
    font-family: 'omnia';
}

.project-section .description{
    width: 40%;
    margin: 0 10%;
}

.project-section .description a{
    color: #FCDAD8;
    border: 1px solid #FCDAD8;
    width: 167px;
    display: block;
    height: 52px;
    padding: 14px 50px;
}

.project-section .description p{
    font-family: 'omnia';
    color: #FCDAD8;
    font-size: 24px;
}

@media (max-width: 768px) {
    .project-section{
        flex-wrap: wrap-reverse;
        width: 100%;
    }

    .project-section .description p{
        width: 100%;   
    }
}

.project-mokhber,
.project-resources{
    flex-direction: row-reverse;
    float: right;
    position: relative;
    z-index: 11;
}

.project-mokhber img,
.project-resources img{
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
@media (max-width: 768px) {
    .project-section img{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
    }

    .project-section .description{
        width: 100%;
    }
}


.how{
    position: relative;
    padding-top: 100px;
    padding-bottom: 10px;
}

.how-bg{
    opacity: 0.2;
    background-image: url(assets/pattern_2.jpeg);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}


.how .title h1{
    position: relative;
}

.title{
    position: relative;
    height: 50px;
    transform: translateX(50px);
}

.title svg{
    transform: translateY(-27px)
}

.title h1{
    display: inline;
}

.how h1{
    color: #016477;
    font-family: 'dahab';
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 64.3%;
}

.how .nawa-img{
    background-image: url('assets/images/nawa.png');
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: -1;
    width: 408px;
    height: 408px;
}

@media (max-width: 768px){
    .nawa-img{
        width: 200px !important;
        height: 200px !important;
        background-size: cover;
    }
}


.how .description{
    color: #016477;
    font-size: 26px;
    font-weight: 500;
    line-height: 119.4%;
    width: 50%;
    margin-top: 40px;
}

@media (max-width: 768px){
    .how .description{
        margin-top: 130px;
        width: 100%;
    }
}

.how .carts{
    margin-top: 100px;
    display: flex;
    position: relative;
    z-index: 11;
}

@media (max-width: 768px){
    .how .carts{
        flex-direction: column;
    }
}


.how .cart{
    width: calc(100% / 3);
    background-color: white;
    box-shadow: 3px 13px 13px 0px #FFEEED;
    margin: 10px;
    padding: 40px;
}

@media (max-width: 768px){
    .how .cart{
        width: 100%;
    }
}

.how .cart:hover{
    transform: translateY(-17px);
    transition: .3s;
    cursor: pointer;
}

.how .cart h2{
    font-family: 'omnia';
    color: #016477;
}

.how .cart p{
    font-family: 'omnia';
    color: #016477;
    font-size: 20px;
}

.share{
    background-color: #744D47;
    padding: 100px 0;
}


.share .carts{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.share .carts .cart{
    position: relative;
    padding: 20px;
    border-radius: 29px;
    width: calc(95% / 3);
    text-align: center;
    background-color: #FFF2F1;
    border: 1px solid #FA635C;
}
@media (max-width: 768px){
    .share .carts{
        flex-direction: column;
    } 
    .share .cart{
        width: 100% !important;
        margin: 60px 0;
    }

}
.share .carts .cart img{
    position: absolute;
    left: 50%;
    top: -12%;
    transform: translateX(-50%);
}

.share .carts .cart h2,
.share .carts .cart p{
    color: #016477;
    font-family: 'omnia';
}

.share .carts .cart h2{
    font-weight: 700;
    font-size: 40px;
    margin-top: 50px;
}

.share .carts .cart p{
    font-size: 25px;
}

.share .carts .cart a{
    background: #D78079;
    padding: 10px 53px;
    color: #FCDAD8;
}


footer{
    background: black;
    padding: 10px 0;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .right,
footer .left{
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer ul a{
    color: #FCDAD8;
    font-family: 'dahab';
    font-size: 32px;
    padding: 10px 20px;
}

footer ul a:hover{
    color: #016477;
}


footer form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer .left img{
    width: 100px;
    height: 100px;
    align-self: flex-end;
}

footer form input,
footer form label,
footer form button{
    margin-top: 10px;
}

footer form input{
    padding: 10px; 
}

footer form label{
    color: #FCDAD8;
}

footer form button{
    color: #FCDAD8;
    background: #D78079;
    width: 150px;
    padding: 10px 0;
    border: none;
}

/** End Home Page**/



/** start truthfullness index page **/

.index-header{
    background-image: url("https://cdn.builder.io/api/v1/image/assets/TEMP/563f1b47-9c57-4a03-bf2d-245a809bdd3e?apiKey=9044f5d8ba054393bc1ba3b5fea416ad&amp;width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/563f1b47-9c57-4a03-bf2d-245a809bdd3e?apiKey=9044f5d8ba054393bc1ba3b5fea416ad&amp;width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/563f1b47-9c57-4a03-bf2d-245a809bdd3e?apiKey=9044f5d8ba054393bc1ba3b5fea416ad&amp;width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/563f1b47-9c57-4a03-bf2d-245a809bdd3e?apiKey=9044f5d8ba054393bc1ba3b5fea416ad&amp;width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/563f1b47-9c57-4a03-bf2d-245a809bdd3e?apiKey=9044f5d8ba054393bc1ba3b5fea416ad&amp;width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/563f1b47-9c57-4a03-bf2d-245a809bdd3e?apiKey=9044f5d8ba054393bc1ba3b5fea416ad&amp;width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/563f1b47-9c57-4a03-bf2d-245a809bdd3e?apiKey=9044f5d8ba054393bc1ba3b5fea416ad&amp;width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/563f1b47-9c57-4a03-bf2d-245a809bdd3e?apiKey=9044f5d8ba054393bc1ba3b5fea416ad&amp;");
    background-size: cover;
}
.about-index{
    display: flex;
    justify-content: center;
}
@media (max-width: 768px){
    .about-index{
        flex-wrap: wrap;
    }
}

.about-index .left{
    width: 438.873px;
}

.about-index .right{
    width: 491.59px;
}


.about-index .right,
.about-index .left{
    color: #FCDAD8;
    text-align: right;
    font-family: 'omnia';
    font-size: 24px;
    font-weight: 500;
    margin: 0 50px;
}

.methodology{
    padding: 100px 0;
    background-image: url("https://cdn.builder.io/api/v1/image/assets/TEMP/6881ae05-22cd-478f-bb02-2cfb2a302194?apiKey=9044f5d8ba054393bc1ba3b5fea416ad&width=1600");
    text-align: center;
}


.methodology p{
    font-size: 25px;
}

.methodology .carts{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 768px){
    .methodology .carts{
        flex-direction: column;
    }
}

.methodology .cart{
    width: calc(70% / 3);
}

@media (max-width: 768px){
    .methodology .cart{
        width: 100%;
    }
}

.methodology .cart .icon{
    padding: 50px;
    border: 2px solid #D78079;
    border-radius: 23px;
}

.methodology .cart h2{
    font-weight: 700;
}

.methodology h2,
.methodology h1,
.methodology p{
    color: #D78079;
    font-family: 'omnia';
}

.studies{
    background-color: black;
    padding: 100px 0;
}

.studies .container{
    display: flex;
    align-items: center;
    justify-content: space-between
}

@media (max-width: 768px){
    .studies .container{
        flex-direction: column;
    }
}

.studies .study{
    width: calc(90% / 2);
}

@media (max-width: 768px){
    .studies .study{
        width: 100%;
        margin-top: 50px;
    }
}

.studies .study img{
    width: 557.992px;
    height: 423.505px;
}

@media (max-width: 992px){
    .studies .study img{
        width: 100%;
    }
}


.studies .study h2{
    color: #FCDAD8;
    font-family: 'omnia';
    margin-top: 10px;
}

.studies .study a{
    border: 2px solid #FCDAD8;
    color: #FCDAD8;
    padding: 10px 20px;
    display: block;
    width: fit-content;
}


.goal{
    background-color: #D78079;
}

.goal .container{
    display: flex;
}

@media (max-width: 768px){
    .goal .container{
        flex-direction: column-reverse;
    }
}


.goal .desc{
    padding: 100px 0;
}
@media (max-width: 768px){
    .goal .desc{
        margin-top: 0;
        padding: 20px 0;
    }
}
.goal img{
    width: 50%;
}
@media (max-width: 768px){
    .goal img{
        width: 100%;
    }
}

.goal p{
    color: #FCDAD8;
    font-family: 'omnia';
    font-size: 32px;
}

.goal a{
    background: #FCDAD8;
    color: #D78079;
    font-family: 'dahab';
    font-size: 25px;
    font-weight: 400;
    padding: 0 30px 10px 30px; 
}

/** end truthfullness index page **/


/** Start Mokhber Page **/
.mokhber-header{
    background-image: url("assets/images/mokhber_bg.png");
    background-size: cover;
    padding-bottom: 1px;
}

.mokhber-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    margin-bottom: 50px;
}

@media (max-width: 576px){
    .mokhber-nav{
        width: auto;
        flex-wrap: wrap;
    }
}

.mokhber-nav a{
    position: relative;
    padding: 20px 0;
    color: white;
    font-family: 'dahab';
    font-size: 25px;
}

.mokhber-nav a::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    background-color: white;
    transition: .5s;
}

.mokhber-nav a:hover,
.mokhber-nav a:focus{
    color: white;
}

.mokhber-nav a:hover::after{
    width: 100%;
}

.post .date,
.post .author,
.post .country{
    font-family: 'omnia';
}



.full-page-post{
    position: relative;
    height: 335px;
}

.full-page-post .bg{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.full-page-post .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 100px 0;
}

.full-page-post .meta{
    flex: 1;
}

.full-page-post .category{
    flex: 50%;
    align-self: flex-start;
}

.full-page-post .meta{
    flex: 70%
}

.post a{
    font-family: 'dahab';
    font-size: 30px;
    font-weight: 700;
    display: block;
}

.post-overlay{
    width: 100%;
    height: 100%;
    background: #D8BBB894;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.post .author{
    position: relative;
}

.post .author,
.post .date{
    padding: 0 5px;
}


.post .author::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 26px;
    top: 0;
    left: -1%;
}

.half-page-post{
    position: relative;
    display: flex;
}

.half-page-post .post{
    width: 50%;
    position: relative;
    height: 335px;
}

.half-page-post .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
}

.half-page-post .post{
    padding: 20px;
}
.half-page-post .post .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.half-page-post .post .bottom{
    display: flex;
    flex-direction: column;
}

.half-page-post:nth-child(even){
    flex-direction: row-reverse;
}

.half-page-post .post:nth-child(odd) .text,
.full-page-post:nth-child(odd) .text{
    color: #FCDAD8;
}

.half-page-post .post:nth-child(odd)  .post .author::after,
.full-page-post:nth-child(odd)  .post .author::after {
    background: #FCDAD8;
}


.half-page-post .post:nth-child(even)  .author::after,
.full-page-post:nth-child(even)  .post .author::after {
    background: #016477;
}

.half-page-post .post:nth-child(even) .text,
.full-page-post:nth-child(even) .text {
    color: #016477;
}

.half-page-post .post:nth-child(even) .category svg,
.full-page-post:nth-child(even) .category svg{
    fill: #016477;
}

.half-page-post .post:nth-child(odd) .category svg,
.full-page-post:nth-child(odd) .category svg{
    fill: #FCDAD8;
}

.half-page-post .post:nth-child(odd) .post-overlay,
.full-page-post:nth-child(odd) .post-overlay{
    background: #0164771C
}

.half-page-post .post:nth-child(even)  .post-overlay,
.full-page-post:nth-child(even)  .post-overlay {
    background: #D8BBB894;
}

.half-page-post .post:nth-child(even)  .play svg,
.full-page-post:nth-child(even) .play svg{
    fill: #FCDAD8
}

.half-page-post .post:nth-child(odd)  .play svg,
.full-page-post:nth-child(odd) .play svg{
    fill: #016477
}


.post .play{
    float: left;
    margin-top: 50px;
}

/** End Mokhber Page **/


/** Start Resources Page **/

.resources-header{
    background-image: url("assets/images/resources_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.resources-title{
    color: #FCDAD8;
    font-family: 'dahab';
    font-weight: 700;
}


#page-carousel .carousel-control-next, 
#page-carousel .carousel-control-prev{
    width: 5%;
}


#page-carousel .carousel-item-container{
    display: flex;
    background: #04252B;
}

#page-carousel .post{
    width: 50%;
    padding: 50px 80px;
}

#page-carousel .post h1{
    color: #D78079;
    font-family: 'dahab';
    font-weight: 700;
}

#page-carousel .post p{
    color: #D78079;
    font-family: 'omnia';
    font-size: 20px;
    font-weight: 500;
}

#page-carousel .post a{
    color: #D78079;
    border: 2px solid #D78079;
    padding: 0px 40px;
    display: inline !important;
    padding-bottom: 7px;
    margin-top: 40px;
}

#page-carousel img{
    width: 50%;
    height: 450px;
}



.resources-carts{
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
}

.resources-carts .cart{
    position: relative;
    width: 389.394px;
    height: 329.462px;
    padding: 20px;
    margin: 71px;
}



.resources-carts .cart img{
    position: absolute;
    top: -20%;
    left: -20%;
    width: 100%;
    height: 100%;
}

.resources-carts .cart a{
    position: absolute;
    bottom: 5%;
    font-family: 'dahab';
    font-size: 25px;
    font-weight: 700;
}

.yemen-index-cart{
    border: 2px solid #D78079;
}

.yemen-index-cart a{
    color: #D78079;
}

.podcast-cart{
    border: 2px solid #016477;
}

.podcast-cart a{
    color: #016477;
}

.internet-cart,
.journalism-cart{
    border: 2px solid #000;
}

.internet-cart a,
.journalism-cart a{
    color: #000;
}

.journalism-cart{
    border: 2px solid #000;
}

.journalism-cart a{
    color: #000;
}
/** End Resources Page **/

/** Start Team Page **/

.team{
    background-image: url("assets/images/team_bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.team .members{
    display: flex;
    flex-wrap: wrap;
}

.team .members .member{
    margin: 20px;
}

.team .members .member img{
    width: 252.684px;
    height: 304.688px;
}

.team .member .name{
    color: #FCDAD8;
    font-family: 'dahab';
    font-size: 40px;
    font-weight: 700;
}

.team .member .country{
    color: #FFF;
    font-family: 'dahab';
    font-size: 30px;
    font-weight: 700;
}

.newsroom-graduates{
    background-color: #D78079
}

.newsroom-graduates .section-title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;
}

.newsroom-graduates .section-title p,
.newsroom-graduates .section-title h1{
    flex: 50%;
}

.newsroom-graduates .section-title h1{
    color: #FFF;
    font-family: 'dahab';
}

.newsroom-graduates .section-title p{
    color: #FFF;
    font-family: 'omnia';
    font-size: 25px;
}

.newsroom-graduates hr{
    color: white;
}

.newsroom-graduates .carts{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.newsroom-graduates .cart{
    background: #2F2F2F;
    padding: 30px;
    margin: 10px 0;
}

.newsroom-graduates .cart h1{
    color: #FCDAD8;
    font-family: 'dahab';
}

.newsroom-graduates .cart h2{
    color: #fff;
    font-family: 'dahab';
}

.newsroom-graduates .cart a{
    background: #D78079;
    padding: 20px;
    color: #FCDAD8;
    display: block;
    width: fit-content;
}

/** End Team Page **/